- var p = 0
- var postList = []
- 
  each post, slug in public.posts._data
    if post.layout !== false
      - post.slug = slug
      - postList.push(post)
- postList.reverse()

for post in postList
  if post.layout !== false
    if p++ == 0
      section#one
        header.major
          h2
            a(href="/posts/#{ post.slug }.html")= post.title
          if post.byline
            p= post.byline
              |  
              != partial('_partials/blog-tags', { tags: post.tags })
          if post.description
            p= post.description
          ul.actions
            li
              a(href="/posts/#{ post.slug }.html").button Read More
            != partial('_partials/read-on-medium', { medium: post.medium })
            if disqus.enabled
              li.icon.fa-comments
                |  
                span.disqus-comment-count(data-disqus-identifier="posts/#{ post.slug }")
    else if p < 4
      section
        header
          h4
            a(href="/posts/#{ post.slug }.html")= post.title
          if post.byline
            p= post.byline
              |  
              != partial('_partials/blog-tags', { tags: post.tags })
        if post.description
          p= post.description
        ul.actions
          li
            a(href="/posts/#{ post.slug }.html").button.small Read More
          != partial('_partials/read-on-medium', { medium: post.medium, buttonClass: 'small' })
          if disqus.enabled
            li.icon.fa-comments
              |  
              span.disqus-comment-count(data-disqus-identifier="posts/#{ post.slug }")

!= partial('_partials/contact-form-landing')
