- var p = 0
- var postList = []
- 
  each post, slug in public.posts._data
    if post.layout !== false
      - post.slug = slug
      - postList.push(post)
- postList.reverse()

for post in postList
  if post.layout !== false
    if p++ == 0
      section#one
        header.major
          h2
            a(href="/posts/#{ post.slug }.html")= post.title
          if post.byline
            p= post.byline
              |  
              != partial('_partials/blog-tags', { tags: post.tags })
          if post.description
            p= post.description
          ul.actions
            li
              a(href="/posts/#{ post.slug }.html").button Read More
            li.icon.fa-comments
              |  
              span.disqus-comment-count(data-disqus-identifier="posts/#{ post.slug }")
    else if p < 4
      section
        header
          h4
            a(href="/posts/#{ post.slug }.html")= post.title
          if post.byline
            p= post.byline
              |  
              != partial('_partials/blog-tags', { tags: post.tags })
        if post.description
          p= post.description
        ul.actions
          li
            a(href="/posts/#{ post.slug }.html").button.small Read More
          li.icon.fa-comments
            |  
            span.disqus-comment-count(data-disqus-identifier="posts/#{ post.slug }")

section#contact
  h2 Get In Touch
  p Do you have a project or idea you would like me to help you realize?
    br
    | Send me a message and I'll get back to you!
  .row
    div(class="8u 12u$(small)")
      form(method="post" action="http://formspree.io/#{ locals.email }")
        input(type="hidden" name="_next" value="#{ locals.site_url }/thanks.html")
        input(type="hidden" name="_subject" value="Contact Form: torgnybjers.com")
        input(type="text" name="_gotcha" style="display:none")
        div(class="row uniform 50%")
          div(class="6u 12u$(xsmall)")
            input(type="text" name="name" id="name" placeholder="Name")
          div(class="6u$ 12u$(xsmall)")
            input(type="email" name="email" id="email" placeholder="Email")
          div(class="12u$")
            textarea(name="message" id="message" placeholder="Message" rows="4")
        ul.actions
          li
            input(type="submit" value="Glitterbomb!")
    div(class="4u$ 12u$(small)")
      ul.labeled-icons
        li
          h3.icon.fa-mobile
            span.label Phone
          | #{ locals.phone }
