doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <!--[if lte IE 8]>
    script(src=(environment == 'production' ? cdn : '') + "/assets/js/ie/html5shiv.js")
    <![endif]-->
    title= locals.title ? title + " | " + site_title : site_title
    link(rel="stylesheet" href="#{ (environment == 'production' ? cdn : '') }/assets/css/landing.css")
    <!--[if lte IE 8]>
    link(rel="stylesheet" href="#{ (environment == 'production' ? cdn : '') }/assets/css/landing-ie8.css")
    <![endif]-->
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="#{ (environment == 'production' ? cdn : '') }/rss.xml")
    != partial('../_partials/header')

  body#top

    header#header
      a.image.avatar(href="/")
        img(src="#{(environment == 'production' ? cdn : '') }/assets/img/avatar.jpg" alt="")
      h1
        strong Torgny Bjers
        |  farms servers in the clouds
        br 
        |  and conjures confluent code from
        br
        |  pixie dust and meteorite slag. If besought,
        br
        |  he will help you find the castle with
        br
        |  the princess.

    #main
      != yield

    footer#footer
      ul.icons
        if social_links.twitter
          li
            a(href="https://twitter.com/#{ social_links.twitter }" target="_blank").icon.fa-twitter
              span.label Twitter
        if social_links.facebook
          li
            a(href="https://www.facebook.com/#{ social_links.facebook }" target="_blank").icon.fa-facebook
              span.label Facebook
        if social_links.github
          li
            a(href="https://github.com/#{ social_links.github }" target="_blank").icon.fa-github
              span.label Github
        if social_links.stackoverflow
          li
            a(href="https://stackoverflow.com/users/#{ social_links.stackoverflow }" target="_blank").icon.fa-stack-overflow
              span.label Stack Overflow
        if social_links.medium
          li
            a(href="https://medium.com/@#{ social_links.medium }" target="_blank").icon.fa-medium
              span.label Medium
        if social_links.dribbble
          li
            a(href="https://dribbble.com/#{ social_links.dribbble }" target="_blank").icon.fa-dribbble
              span.label Medium

      ul.copyright
        li
          != partial("../_partials/copyright")

    if disqus.enabled
      script(src="//#{ disqus.shortname }.disqus.com/count.js" id="dsq-count-scr" async)
    script(src=(environment == 'production' ? cdn : '') + "/assets/js/jquery.min.js")
    script(src=(environment == 'production' ? cdn : '') + "/assets/js/jquery.poptrox.min.js")
    script(src=(environment == 'production' ? cdn : '') + "/assets/js/skel.min.js")
    script(src=(environment == 'production' ? cdn : '') + "/assets/js/landing-util.js")
    script(src=(environment == 'production' ? cdn : '') + "/assets/js/landing-main.js")
    != partial('../_partials/footer')
