doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= locals.title ? title + " | " + site_title : site_title
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")
    != partial('../_partials/header')

  body

    header#header
      h1#logo
        a(href="/")= site_title
      nav#nav
        ul
          li
            a(href="#").submenu Topics
            ul
              li
                a(href="#") Code
    
    section#main.wrapper.sidebar.right
      .inner
        if current.path[0] === "posts"
          header.major
            h2= title
            p= byline
              |  
              != partial('../_partials/blog-tags', { tags: tags })
          .content
            != yield
          .sidebar
            section
              h3 Recent posts

    footer#footer
      .content
        .inner
          section.about
            h3 Torgny Bjers
            p Torgny Bjers farms servers in the clouds and conjures confluent code from pixie dust and meteorite slag. If besought, he will help you find the castle with the princess.
            ul.actions
              li
                a(href="#").button Learn More
          ul.icons.bulleted
            if social_links.twitter
              li.icon.fa-twitter
                a(href="https://twitter.com/#{ social_links.twitter }" target="_blank") @#{ social_links.twitter }
            if social_links.github
              li.icon.fa-github
                a(href="https://github.com/#{ social_links.github }" target="_blank") github.com/#{ social_links.github }
            if social_links.facebook
              li.icon.fa-facebook
                a(href="https://www.facebook.com/#{ social_links.facebook }" target="_blank") facebook.com/#{ social_links.facebook }
            if social_links.stackoverflow
              li.icon.fa-stack-overflow
                a(href="https://stackoverflow.com/#{ social_links.stackoverflow }" target="_blank") stackoverflow.com/#{ social_links.stackoverflow }
            if social_links.medium
              li.icon.fa-medium
                a(href="https://medium.com/@#{ social_links.medium }" target="_blank") medium.com/@#{ social_links.medium }
            if social_links.dribbble
              li.icon.fa-dribbble
                a(href="https://dribbble.com/@#{ social_links.dribbble }" target="_blank") dribbble.com/@#{ social_links.dribbble }
      p.copyright
        != partial('../_partials/copyright')

    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/jquery.dropotron.min.js")
    script(src="/assets/js/jquery.scrollex.min.js")
    script(src="/assets/js/skel.min.js")
    script(src="/assets/js/util.js")
    script(src="/assets/js/main.js")
    != partial('../_partials/footer')
